/* EVERYTHING */
body {
    background-color: #36414D;
    color: #B3D9FF;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    text-align: center;
}

/* MAIN BOXES */
.situation {
    width: calc(20vw - 2rem + 10rem);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0.3rem;
    border: 1px solid #B3D9FF;
    padding: 1rem;
    border-radius: 1rem;
}

.option {
    width: calc(15vw - 2rem + 10rem);
    border: 1px solid #B3D9FF;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    cursor: pointer;
    word-break: break-word;
    overflow: hidden;
}

/* sub-hovers */
.option.s1:hover {
    background-color: #45364D;
    color: #CFA1E6;
    border-color: #CFA1E6;
}

.option.s2:hover {
    background-color: #364D3E;
    color: #A1E6B8;
    border-color: #A1E6B8;
}

.option.s3:hover {
    background-color: #4D4736;
    color: #E6D4A1;
    border-color: #E6D4A1;
}

/* CUSTOM RESPONSES */
.input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #B3D9FF;
    width: calc(15vw - 1.6rem + 10rem);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding: 0.3rem;
    resize: none;
    border-radius: none;
}

#action-input {
    display: block;
    margin-top: 3rem;
}

#description-input {
    display: none;
    border-radius: 1rem;
    border: 1px solid #B3D9FF;
    opacity: 0;
    resize: none;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    vertical-align:middle;
}

/* BUTTONS */
#submit-new {
    display: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 1.5rem;
    opacity: 0;
}

#submit-new:hover {
    font-weight: 900;
}

#report {
    cursor: pointer;
    width: 50%;
    display: inline-block;
    float: right;
    text-align: right;
}

#report:hover {
    font-weight: 900;
}

#restart{
    cursor: pointer;
    width: 50%;
    display: inline-block;
    float: left;
    text-align: left;
}

#restart:hover {
    font-weight: 900;
}

/* UPPER BUTTON CONTAINER */
#buttons {
    margin-left: auto;
    margin-right: auto;
    width: calc(20vw - 2rem + 10rem);
    height: 1rem;
    margin-top: 10vh;
}

/* MESSAGES */
.warning {
    color: #E65C5C;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    display: none;
}

/* PLACEHOLDERS */
::-webkit-input-placeholder {
    color: #6B8199;
}

:-moz-placeholder {
    color: #6B8199;
}

::-moz-placeholder {
    color: #6B8199;
}

:-ms-input-placeholder {
    color: #6B8199;
}
